/**variables**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  background-color: #ede9d5; }

header {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 23.125rem 5rem;
  height: 100%; }
  header section {
    display: flex;
    height: 23.125rem;
    padding-left: 1.875rem; }
  header nav {
    background-color: #dcd8c5;
    border: solid .0625rem black;
    grid-row: 2;
    padding: 1.7188rem; }
    header nav .navbar {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 0rem 1.25rem;
      gap: 1.875rem;
      list-style: none;
      align-items: center; }
      header nav .navbar li {
        list-style: none;
        gap: 1.875rem; }
        header nav .navbar li .activo {
          color: #a81822;
          border: .0625rem solid none;
          border-radius: .625rem;
          background-color: #ababab46;
          padding: .3125rem; }
        header nav .navbar li a {
          font-family: Arial, Helvetica, sans-serif;
          font-size: 1.5625rem;
          color: black;
          text-decoration: none; }
          header nav .navbar li a:hover {
            color: #a81822;
            border: .0625rem solid none;
            border-radius: .625rem;
            background-color: #ababab46; }

footer {
  display: grid;
  grid-template-columns: 18.75rem 1fr 1fr; }
  footer div {
    border: .0625rem solid none;
    background-color: #a81822;
    height: auto;
    width: 4.5625rem;
    position: absolute;
    left: 10.875rem;
    padding: .625rem;
    display: flex;
    grid-column: 1;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    flex-wrap: nowrap; }
    footer div section {
      padding: .375rem; }
      footer div section a {
        font-size: 3rem;
        color: black;
        padding: .9375rem; }
    footer div .whatsapp a:hover {
      color: #63cb77; }
  footer .contactos {
    grid-column: 2 / 3;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end; }
    footer .contactos p {
      font-size: 1.25rem; }
  footer .texto-pie {
    grid-column: 3 / 4;
    padding-top: 5rem;
    width: 31.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center; }
    footer .texto-pie p {
      font-size: 1.25rem; }

.main-index {
  background-image: url(../assets/img/3.jpg);
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 12.5rem 9.375rem 28.125rem;
  background-size: cover;
  background-repeat: no-repeat; }
  .main-index section {
    grid-row: 1;
    grid-column: 1/4;
    display: flex; }
    .main-index section p {
      background-color: #0000005f;
      font-size: 1.25rem;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      color: #ededed;
      padding: 2.5rem; }
      .main-index section p strong {
        color: #ffffff;
        text-shadow: #000000 0 -1px; }
  .main-index .titulo-card {
    grid-row: 2;
    grid-column: 1 / 4;
    border: 1 solid none;
    height: 6.25rem;
    background-color: #ffffff6b;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  .main-index .card-1, .main-index .card-2, .main-index .card-3 {
    border: 1px solid none;
    background-color: #0000002a;
    grid-column: 1;
    grid-row: 3;
    height: 25rem;
    width: 18.75rem;
    display: flex;
    justify-self: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: transform .2s; }
    .main-index .card-1:hover, .main-index .card-2:hover, .main-index .card-3:hover {
      transform: scale(1.2); }
    .main-index .card-1 .texto-card1, .main-index .card-2 .texto-card1, .main-index .card-3 .texto-card1, .main-index .card-2 .texto-card2, .main-index .card-3 .texto-card3 {
      border: .0625rem solid none;
      background-color: #0000005b;
      border-radius: .625rem;
      color: #ffffff;
      text-align: center; }
      .main-index .card-1 .texto-card1 p, .main-index .card-2 .texto-card1 p, .main-index .card-3 .texto-card1 p, .main-index .card-2 .texto-card2 p, .main-index .card-3 .texto-card3 p {
        font-family: Arial, Helvetica, sans-serif; }
  .main-index .card-2 {
    grid-column: 2;
    grid-row: 3; }
  .main-index .card-3 {
    grid-column: 3;
    grid-row: 3; }

main .main-paginas {
  background-image: url(../assets/img/imagen-4.jpg);
  width: auto;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat; }
  main .main-paginas .nosotros {
    border: .0625rem solid none;
    background-color: #ede9d571;
    padding: 2.5rem;
    height: 25rem;
    font: 1.2em sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start; }
    main .main-paginas .nosotros h1 {
      padding: 2.5rem;
      text-shadow: #ffffff 0 -2px; }
    main .main-paginas .nosotros p {
      text-align: center; }
  main .main-paginas .video video {
    display: none; }
  main .main-paginas .somos {
    display: flex;
    border: .0625rem solid none;
    background-color: #42414138;
    font: 1.2em sans-serif;
    flex-direction: column;
    align-items: center;
    height: 25rem;
    padding: 1.875rem; }
    main .main-paginas .somos h3 {
      padding: 1.875rem; }
    main .main-paginas .somos a {
      text-decoration: none;
      border: .0625rem solid none;
      background-color: #42414156;
      font: 1.2em sans-serif;
      color: #fcfcfc;
      margin: 10px;
      padding: 1.25rem;
      text-shadow: #000000 0 -0.125rem; }

.main-productos {
  background-image: url(../assets/img/imagen-4.jpg);
  width: auto;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, 1fr); }
  .main-productos section {
    border: .0625rem solid #00000052;
    width: 18.75rem;
    text-align: center;
    justify-self: center;
    align-items: center; }
    .main-productos section img {
      padding: .625rem;
      height: 12.5rem;
      transition: transform .2s; }
      .main-productos section img:hover {
        transform: scale(1.2); }
    .main-productos section div {
      border: .0625rem black none;
      border-radius: .9375rem;
      background-color: #ede9d5; }
      .main-productos section div h5 {
        padding: .625rem;
        font-size: 1.25rem; }
      .main-productos section div p {
        font-family: 1rem; }
      .main-productos section div button {
        border-radius: .4375rem;
        margin: .9375rem;
        padding: .625rem; }
        .main-productos section div button a {
          font-size: 1.125rem;
          color: black;
          text-decoration: none; }
          .main-productos section div button a:hover {
            color: #a81822; }
  .main-productos .texto-productos {
    grid-column: 1/5;
    background-color: #ffffff6b;
    grid-row: 2;
    margin: .9375rem; }
    .main-productos .texto-productos p {
      font-size: 1.25rem;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      color: #000000;
      padding: 1.25rem; }

.main-presupuestos {
  background-image: url(../assets/img/imagen-4.jpg);
  width: auto;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  font: 1.5em sans-serif; }
  .main-presupuestos .presupuestos-1 {
    grid-column: 1 / 3;
    grid-row: 1;
    border: .0625rem #ede9d5;
    border-radius: 1.875rem;
    margin: 1.875rem;
    background-color: #ffffff91;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .main-presupuestos .presupuestos-1 .texto-presupuesto1 p {
      padding: 1.875rem; }
    .main-presupuestos .presupuestos-1 div img {
      padding: 3.125rem; }
  .main-presupuestos .presupuestos-2 {
    grid-column: 1;
    grid-row: 2;
    border: .0625rem #ede9d5;
    border-radius: 1.875rem;
    height: 12.5rem;
    margin: 1.875rem;
    padding: 1.875rem;
    background-color: #ffffff91;
    display: flex;
    flex-direction: column; }
    .main-presupuestos .presupuestos-2 a i {
      font-size: 3rem;
      transition: transform .1s; }
      .main-presupuestos .presupuestos-2 a i:hover {
        transform: scale(1.2); }
  .main-presupuestos .presupuestos-3 {
    grid-column: 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5625rem;
    border: .0625rem #ede9d5;
    border-radius: 1.875rem;
    height: 12.5rem;
    padding: 1.875rem;
    margin: 1.875rem;
    background-color: #ffffff91; }
    .main-presupuestos .presupuestos-3 p {
      font-size: 1.5625rem; }
    .main-presupuestos .presupuestos-3 .redes-sociales a {
      font-size: 3rem; }
      .main-presupuestos .presupuestos-3 .redes-sociales a i {
        transition: transform .1s; }
        .main-presupuestos .presupuestos-3 .redes-sociales a i:hover {
          transform: scale(1.2); }

.main-contactos {
  background-image: url(../assets/img/imagen-4.jpg);
  width: auto;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center; }
  .main-contactos .fondo-mapa {
    grid-column: 1 / 3;
    width: 100%;
    height: 12.5rem;
    padding-top: .625rem;
    opacity: 70%; }
  .main-contactos hr {
    margin: .9375rem;
    height: .3125rem;
    width: 100%;
    grid-column: 1 / 3;
    background-color: black; }
  .main-contactos .datos-contactos {
    grid-column: 1 / 2;
    font: 1.2em sans-serif;
    width: 28.75rem;
    height: 43.75rem;
    margin: .9375rem;
    border-radius: .9375rem;
    padding-top: 1.875rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    background-color: #ffffff91; }
    .main-contactos .datos-contactos h2 {
      text-align: center; }
    .main-contactos .datos-contactos .direccion, .main-contactos .datos-contactos .visitas, .main-contactos .datos-contactos .telefono, .main-contactos .datos-contactos .mail-2, .main-contactos .datos-contactos .atencion {
      font: 1.2em sans-serif;
      font-size: .9375rem;
      border: .0625rem solid black;
      border-radius: .625rem;
      margin-top: 5rem;
      background-color: #ffffffc3; }
      .main-contactos .datos-contactos .direccion i, .main-contactos .datos-contactos .visitas i, .main-contactos .datos-contactos .telefono i, .main-contactos .datos-contactos .mail-2 i, .main-contactos .datos-contactos .atencion i {
        font-size: 2.5rem;
        transition: transform .1s; }
        .main-contactos .datos-contactos .direccion i:hover, .main-contactos .datos-contactos .visitas i:hover, .main-contactos .datos-contactos .telefono i:hover, .main-contactos .datos-contactos .mail-2 i:hover, .main-contactos .datos-contactos .atencion i:hover {
          transform: scale(1.2); }
      .main-contactos .datos-contactos .direccion p, .main-contactos .datos-contactos .visitas p, .main-contactos .datos-contactos .telefono p, .main-contactos .datos-contactos .mail-2 p, .main-contactos .datos-contactos .atencion p {
        color: #000000;
        font-size: 1.125rem; }
    .main-contactos .datos-contactos .visitas, .main-contactos .datos-contactos .telefono, .main-contactos .datos-contactos .mail-2, .main-contactos .datos-contactos .atencion {
      margin-top: 1.875rem; }
  .main-contactos .contactos-form {
    grid-column: 2 / 3;
    font: 1.2em sans-serif;
    width: 28.75rem;
    height: 43.75rem;
    margin: .9375rem;
    border-radius: .9375rem;
    padding-top: 1.875rem;
    padding-left: 1.875rem;
    padding-bottom: 1.25rem;
    background-color: #ffffff91; }
    .main-contactos .contactos-form p input, .main-contactos .contactos-form p textarea {
      background-color: #ffffff;
      width: 25.5rem;
      height: 2.5rem;
      border: .0625rem solid black;
      border-radius: .3125rem;
      margin-top: .625rem;
      padding-left: .625rem;
      margin-bottom: .625rem; }
    .main-contactos .contactos-form p textarea {
      height: 9.375rem;
      margin-top: .625rem;
      padding-left: .625rem;
      margin-bottom: 1.25rem;
      padding-top: .9375rem; }
    .main-contactos .contactos-form button {
      height: 2.8125rem;
      padding-left: .3125rem;
      padding-right: .3125rem;
      margin-bottom: 1.25rem;
      margin-top: .625rem;
      background-color: #000000;
      border: solid black;
      border-radius: .625rem;
      width: 26.25rem;
      cursor: pointer; }
      .main-contactos .contactos-form button p {
        color: #fff; }

@media (max-width: 1220px) {
  header {
    grid-template-rows: 18.75rem 5rem;
    width: auto;
    height: auto; }
    header section {
      display: flex;
      height: 23.125rem;
      padding-left: 1.875rem;
      flex-direction: row;
      justify-content: center; }
      header section .logo-principal {
        height: 18.75rem; }
    header nav {
      padding: 1.875rem 0rem; }
      header nav .navbar {
        gap: .9375rem; }
        header nav .navbar li a {
          font-size: 1.25rem; }
  .main-index {
    height: auto;
    width: auto;
    grid-template-rows: 1fr 1fr 37.5rem;
    grid-template-columns: repeat(3, auto); }
    .main-index .texto-index {
      text-align: center; }
    .main-index .card-1, .main-index .card-2, .main-index .card-3 {
      grid-column: 1 / 2;
      width: 12.5rem;
      height: 25rem; }
    .main-index .card-2 {
      grid-column: 2 / 3;
      width: 12.5rem;
      height: 25rem; }
    .main-index .card-3 {
      grid-column: 3;
      width: 12.5rem;
      height: 25rem; }
  .main-productos {
    height: auto;
    width: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, auto, 1fr); }
    .main-productos section {
      width: 21.875rem;
      margin: .9375rem; }
      .main-productos section div {
        border-radius: .625rem; }
        .main-productos section div h5 {
          padding: 8px;
          font-size: 1.125rem; }
        .main-productos section div p {
          font-family: 1rem; }
        .main-productos section div button {
          margin: .625rem; }
    .main-productos .texto-productos {
      grid-column: 1 / 3;
      grid-row: 3; }
  .main-contactos {
    width: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 13.75rem 29.375rem 1fr; }
    .main-contactos .fondo-mapa {
      grid-row: 1; }
    .main-contactos hr {
      height: .3125rem;
      grid-row: 2;
      margin: .0625rem; }
    .main-contactos .datos-contactos {
      grid-row: 2;
      width: 37.5rem;
      height: 28.125rem;
      align-items: center;
      margin: 1.25rem;
      padding-top: .9375rem;
      padding-left: .9375rem;
      padding-right: .9375rem; }
      .main-contactos .datos-contactos .direccion, .main-contactos .datos-contactos .visitas, .main-contactos .datos-contactos .telefono, .main-contactos .datos-contactos .mail-2, .main-contactos .datos-contactos .atencion {
        font-size: .75rem;
        margin-top: .625rem; }
    .main-contactos .visitas, .main-contactos .datos-contactos .telefono, .main-contactos .datos-contactos .mail-2, .main-contactos .datos-contactos .atencion {
      margin-top: .625rem; }
    .main-contactos .contactos-form {
      grid-column: 1;
      grid-row: 3;
      width: 37.5rem;
      height: 42.5rem;
      margin: .9375rem;
      text-align: center; }
      .main-contactos .contactos-form p {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: .3125rem; }
        .main-contactos .contactos-form p input, .main-contactos .contactos-form p textarea {
          width: 31.25rem;
          margin-top: .3125rem;
          margin-bottom: .3125rem;
          text-align: center; }
        .main-contactos .contactos-form p textarea {
          background-color: #fbfbfb;
          width: 31.25rem;
          height: 9.375rem; }
  footer {
    grid-template-columns: 3.125rem auto auto;
    height: 21.875rem; }
    footer .redes {
      position: absolute;
      left: 0rem;
      height: auto; }
    footer .contactos {
      grid-column: 2 / 3;
      align-items: center; }
      footer .contactos h2 {
        padding-bottom: .9375rem; }
    footer .texto-pie {
      grid-column: 3 / 4;
      width: 25rem;
      display: flex;
      font-size: 1rem;
      padding-top: 3.125rem;
      height: auto;
      flex-direction: column;
      text-align: center; } }

@media (max-width: 768px) {
  header {
    grid-template-rows: 18.75rem 3.75rem; }
    header section .logo-principal {
      height: 18.75rem; }
    header nav {
      width: 48rem;
      padding: 1.3125rem 0rem; }
      header nav .navbar li {
        align-items: center; }
        header nav .navbar li a {
          font-size: 1.125rem; }
  .main-index {
    height: auto;
    width: 48rem; }
  main .main-paginas {
    width: 48rem; }
  .main-productos {
    width: 48rem; }
    .main-productos section {
      width: 18.75rem;
      margin: .9375rem; }
      .main-productos section div h5 {
        padding: .3125rem; }
  .main-contactos {
    width: 48rem;
    grid-template-rows: 29.375rem 1fr;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main-contactos .fondo-mapa {
      display: none; }
    .main-contactos hr {
      display: none; }
    .main-contactos .datos-contactos {
      grid-row: 1; }
    .main-contactos .contactos-form {
      grid-row: 2; }
  .texto-productos {
    display: none; }
  .main-presupuestos {
    grid-template-rows: 1fr auto;
    width: 48rem; }
    .main-presupuestos .presupuestos-1 .imagen-presupuesto {
      display: none; }
    .main-presupuestos .presupuestos-2 {
      height: 300px; }
    .main-presupuestos .presupuestos-3 {
      height: 25rem; }
  footer {
    height: 19.6875rem;
    grid-template-columns: 6.25rem 1fr; }
    footer .redes {
      grid-column: 1; }
      footer .redes a {
        font-size: 2.5rem; }
    footer .contactos {
      grid-column: 2;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      margin-bottom: 1.25rem; }
    footer .texto-pie {
      display: none; } }

@media (max-width: 430px) {
  header {
    display: grid;
    grid-template-rows: 15rem 1fr;
    width: auto; }
    header section {
      grid-row: 1;
      padding: 0rem;
      justify-content: space-evenly; }
      header section .logo-principal {
        width: 23.125rem;
        height: 15rem; }
    header nav {
      border: none;
      background-color: #ede9d5;
      width: 26.875rem;
      grid-row: 2; }
      header nav .navbar {
        flex-direction: column;
        align-items: center; }
  .main-index {
    height: auto;
    width: 26.875rem;
    display: grid;
    grid-template-rows: 1fr 1fr 31.25rem 31.25rem 31.25rem;
    grid-template-columns: auto;
    justify-content: center; }
    .main-index .titulo-card {
      display: none; }
    .main-index .texto-index {
      display: none; }
    .main-index .card-1, .main-index .card-2, .main-index .card-3 {
      grid-row: 3;
      grid-column: 1;
      height: 25rem;
      width: 20rem;
      margin-top: 1.5625rem; }
    .main-index .card-2 {
      grid-row: 4;
      grid-column: 1;
      height: 25rem;
      width: 20rem; }
    .main-index .card-3 {
      grid-row: 5;
      grid-column: 1;
      height: 25rem;
      width: 20rem; }
  main .main-paginas {
    width: 26.875rem; }
    main .main-paginas .nosotros {
      width: 26.875rem;
      padding: .625rem;
      height: auto; }
    main .main-paginas .video video {
      display: block;
      width: 18.75rem;
      margin: auto; }
    main .main-paginas .somos {
      text-align: center; }
      main .main-paginas .somos h3 {
        padding: .3125rem;
        font-size: 1.125rem;
        color: #000000; }
      main .main-paginas .somos a {
        margin: 0rem;
        padding: .625rem; }
  .main-productos {
    width: 26.875rem;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto); }
    .main-productos section {
      margin: .9375rem; }
      .main-productos section div {
        border-radius: .625rem; }
        .main-productos section div h5 {
          padding: .5rem;
          font-size: 1.25rem; }
        .main-productos section div p {
          display: none; }
        .main-productos section div button {
          margin: .625rem; }
    .main-productos .texto-productos {
      display: none; }
  .main-contactos {
    width: 26.875rem;
    grid-template-rows: auto 1fr; }
    .main-contactos .datos-contactos {
      grid-row: 1;
      width: 23.125rem;
      height: 31.25rem;
      font: 1.0em sans-serif; }
      .main-contactos .datos-contactos .direccion p, .main-contactos .datos-contactos .visitas p, .main-contactos .datos-contactos .telefono p, .main-contactos .datos-contactos .mail-2 p, .main-contactos .datos-contactos .atencion p {
        font-size: 1rem; }
    .main-contactos .contactos-form {
      grid-row: 2;
      width: 23.125rem;
      height: 39.375rem;
      padding-left: 0rem;
      font: 1.0em sans-serif; }
      .main-contactos .contactos-form p {
        font-size: 1rem; }
        .main-contactos .contactos-form p input, .main-contactos .contactos-form p textarea {
          width: 18.75rem;
          height: 3.125rem; }
      .main-contactos .contactos-form button {
        width: 18.75rem; }
  .main-presupuestos {
    width: 26.875rem;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto); }
    .main-presupuestos .presupuestos-1 {
      display: none; }
    .main-presupuestos .presupuestos-2 {
      height: 18.75rem;
      grid-row: 1;
      font-size: 1.5625rem; }
      .main-presupuestos .presupuestos-2 a {
        font-size: 1.25rem; }
        .main-presupuestos .presupuestos-2 a i {
          font-size: 48px;
          padding-bottom: 10px; }
    .main-presupuestos .presupuestos-3 {
      height: 18.75rem;
      grid-column: 1;
      grid-row: 2; }
    .main-presupuestos .redes-sociales a {
      padding: 1.25rem; }
  footer {
    grid-template-columns: 6.25rem 1fr; }
    footer .redes {
      grid-column: 1;
      position: absolute;
      left: 0rem; }
    footer .contactos p {
      font-size: 1rem; }
    footer .texto-pie {
      display: none; } }

@media (max-width: 375px) {
  header {
    grid-template-rows: 11.875rem 1fr;
    width: auto; }
    header section .logo-principal {
      width: 19.375rem;
      height: 11.875rem; }
    header nav {
      width: auto; }
  .main-index {
    width: auto; }
    .main-index .card-1, .main-index .card-2, .main-index .card-3 {
      width: 18.75rem; }
      .main-index .card-1 .texto-card1 p, .main-index .card-2 .texto-card1 p, .main-index .card-3 .texto-card1 p, .main-index .card-2 .texto-card2 p, .main-index .card-3 .texto-card3 p {
        font-size: 1rem; }
  main .main-paginas {
    padding: .3125rem;
    width: auto; }
    main .main-paginas .nosotros {
      justify-content: center;
      border: .0625rem solid black;
      width: auto;
      height: auto;
      margin: .3125rem; }
      main .main-paginas .nosotros h1 {
        font: 1.1em sans-serif;
        padding: 1.25rem;
        text-align: center; }
      main .main-paginas .nosotros p {
        font-size: 1.125rem; }
    main .main-paginas .somos {
      text-align: center;
      margin: .3125rem; }
      main .main-paginas .somos h3 {
        padding: .3125rem;
        margin: .9375rem; }
      main .main-paginas .somos a {
        margin: .9375rem;
        padding: .625rem; }
  .main-productos {
    width: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto); }
    .main-productos section {
      width: 18.75rem; }
  .main-contactos {
    width: auto; }
    .main-contactos .datos-contactos {
      width: 20rem;
      height: 31.25rem; }
    .main-contactos .contactos-form {
      width: 20rem;
      height: 39.375rem; }
      .main-contactos .contactos-form p input, .main-contactos .contactos-form p textarea {
        width: 18.75rem;
        height: 3.125rem; }
      .main-contactos .contactos-form button {
        width: 18.75rem; }
  .main-presupuestos {
    width: auto; }
    .main-presupuestos .presupuestos-2 {
      height: 16.25rem;
      font-size: 1.5625rem;
      margin: .625rem; }
      .main-presupuestos .presupuestos-2 a {
        font-size: 1.25rem; }
    .main-presupuestos .presupuestos-3 {
      height: 16.25rem;
      margin: .625rem; }
    .main-presupuestos .redes-sociales a {
      padding: .625rem; } }

@media (max-width: 320px) {
  header {
    grid-template-rows: 11.25rem 1fr; }
    header section .logo-principal {
      width: 18.125rem;
      height: 11.25rem; }
    header nav {
      width: 20rem; }
  .main-index {
    width: 20rem; }
    .main-index .card-1, .main-index .card-2, .main-index .card-3 {
      width: 17.5rem; }
  main .main-paginas {
    width: 20rem; }
    main .main-paginas .somos {
      height: auto; }
  .main-contactos {
    width: 20rem; }
    .main-contactos .datos-contactos {
      width: 17.5rem;
      height: 31.25rem; }
    .main-contactos .contactos-form {
      width: 17.5rem;
      height: 39.375rem; }
      .main-contactos .contactos-form p input, .main-contactos .contactos-form p textarea {
        width: 16.875rem;
        height: 3.125rem; }
      .main-contactos .contactos-form button {
        width: 16.875rem; }
  .main-productos {
    width: 20rem; }
  .main-presupuestos {
    width: 20rem; }
    .main-presupuestos .presupuestos-2 {
      margin: .625rem;
      padding: .625rem;
      width: 18.75rem;
      height: 15.625rem;
      font-size: 1.5625rem; }
      .main-presupuestos .presupuestos-2 a {
        font-size: 1.125rem; }
    .main-presupuestos .presupuestos-3 {
      height: 18.75rem;
      width: 18.75rem;
      margin: .625rem;
      padding: .625rem; }
    .main-presupuestos .redes-sociales a {
      padding: .9375rem; } }
