@media(max-width:768px){
    header{
        display: grid;
        grid-template-rows: 15rem 1fr;
        width: auto;
        section{
            grid-row: 1;
            padding:0rem;
            justify-content: space-evenly;
            .logo-principal{
                width: 21.875rem;
                height: 15rem;
            }
        }
        nav{
            border: none;
            background-color:$colorfondo;
            grid-row: 2;
            .navbar{
                flex-direction: column;
                align-items: center;
            }
        }
    }
    .main-index{
        height:auto;
        width:auto;
        display: grid;
        grid-template-rows: 1fr 1fr 31.25rem 31.25rem 31.25rem;
        grid-template-columns:auto;
        justify-content: center;
        .titulo-card {
            display: none;
        }
        .texto-index {
            display: none;
        }
        .card-1 {
            grid-row: 3;
            grid-column: 1;
            height: 25rem;
            width: 20rem;
            margin-top: 1.5625rem;
        }
        .card-2 {
            grid-row: 4;
            grid-column: 1;
            height: 25rem;
            width: 20rem;
        }
        .card-3 {
            grid-row: 5;
            grid-column: 1;
            height: 25rem;
            width: 20rem;
        }
    }
    main{
        .main-paginas{
            width: auto;
            .nosotros {
                width:auto;
                padding: .625rem;
                height: auto;
            }
            .video{
                video{
                    display: block;
                    width: 18.75rem;
                    margin: auto;
                }
            }
            .somos{
            text-align: center;
                h3{
                    padding: .3125rem;
                    font-size: 1.125rem;
                    color: #000000;
                }
                a{
                    margin: 0rem;
                    padding: .625rem;
                }
            }    
        }
    }
    .main-productos{
        width:auto;
        section{
            width: 18.75rem;
            margin:auto;
            div{
                h5{
                    padding: .3125rem;
                }
            }
        }
    }
        .main-contactos{
        width:48rem;
        grid-template-rows: 29.375rem 1fr;
        display: flex;
        flex-direction: column;
        align-items: center;
        .fondo-mapa{
            display: none;
        }
        hr{
            display: none;
        }
        .datos-contactos{
            grid-row: 1;
        }        
        .contactos-form{
            grid-row: 2;
        } 
    }
    .texto-productos{
        display: none;
    }
    .main-presupuestos{
        grid-template-rows: 1fr auto;
        width: 48rem;
        .presupuestos-1{
            .imagen-presupuesto{
                display:none;
            }        
        }
        .presupuestos-2{
            height: 300px;
        }
        .presupuestos-3{
            height: 25rem;
        }
    }        
    footer{
        height:19.6875rem;
        grid-template-columns: 6.25rem 1fr;
        .redes{
            grid-column:1;
            a{
                font-size: 2.5rem;
            }
        }
        .contactos {
            grid-column: 2;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            margin-bottom: 1.25rem;
        }
        .texto-pie {
            display: none;
        }
    }
}