@media(max-width:320px){
    header{
        grid-template-rows: 170px 1fr;
        section{
            .logo-principal{
                width: 260px;
                height:170px;
            }
        }
        nav{
            width:auto;
        }
    }
    .main-index{
        width:auto;
        .card-1 {
            padding: auto;
            width: 17.5rem;
        }
    }
    main{
        .main-paginas{
            .nosotros{
                width: auto;
                margin: auto;
            }
            .video{
                video{
                    width: 280px;
                }
            }
            .somos {
                    height:auto;
            }  
        }
    }
    .main-contactos{
        width: auto;
        .datos-contactos{
            width: 17.5rem;
            height:31.25rem;
        }
        .contactos-form{
            width: 17.5rem;
            height: 39.375rem;

            p{
                input{
                    width: 16.875rem;
                    height: 3.125rem;
                }
            }
            button{width: 16.875rem;}
        } 
    }
    .main-productos{
        width:auto;
        grid-template-columns: 1fr;
        grid-template-rows:repeat(4,auto);
        section{
                width: 18.75rem;  
        }
        div{
            border-radius: .625rem;
                h5{
                    padding:auto;
                    font-size: 1.25rem;
                }
                p{
                    display: none;
                }
                button{
                    margin: .625rem;
                }           
            }
    }
    .main-presupuestos{
        width: 20rem;
        .presupuestos-2{
            width:auto;
            height: 15.625rem;
            font-size: 1.5625rem;
            a{
                font-size: 16px;
            }
        }
        .presupuestos-3{
            height: 18.75rem;
            width: auto;
            padding: .625rem;
        }
        .redes-sociales{
            a{
                padding:.9375rem;

            }
        }
    }
}