@media(max-width:768px){
    header{
        height: 300px;
        section{
            .logo-principal{
                height: 300px;
                padding: 0px;
            }
        }
        nav{
            .navbar{
                padding: 15px;
                li{
                    a{
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .main-index{
        height: auto;
        width: 768px;
    }
    main{
        .main-paginas{
            width: 768px;
        }
    }
    footer{height:315px;
            grid-template-columns: 100px 1fr;
        .redes{
            grid-column:1;
            position: absolute;
            left: 0px;
            height:auto;
            a{
                font-size: 40px;
            }
        }
        .contactos {
            grid-column: 2;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            margin-bottom: 20px;

        }
        .texto-pie {
            display: none;
        }
    }
}