@media(max-width:430px){
    header{
        display: grid;
        grid-template-rows: 15rem 1fr;
        width: auto;
        section{
            grid-row: 1;
            padding:0rem;
            justify-content: space-evenly;
            .logo-principal{
                width: 23.125rem;
                height: 15rem;
            }
        }
        nav{
            border: none;
            background-color:$colorfondo;
            width: 26.875rem;
            grid-row: 2;
            .navbar{
                flex-direction: column;
                align-items: center;
            }
        }
    }

    .main-index{
        height:auto;
        width:26.875rem;
        display: grid;
        grid-template-rows: 1fr 1fr 31.25rem 31.25rem 31.25rem;
        grid-template-columns:auto;
        justify-content: center;
        .titulo-card {
            display: none;
        }
        .texto-index {
            display: none;
        }
        .card-1 {
            grid-row: 3;
            grid-column: 1;
            height: 25rem;
            width: 20rem;
            margin-top: 1.5625rem;
        }
        .card-2 {
            grid-row: 4;
            grid-column: 1;
            height: 25rem;
            width: 20rem;
        }
        .card-3 {
            grid-row: 5;
            grid-column: 1;
            height: 25rem;
            width: 20rem;
        }
    }
    main{
        .main-paginas{
            width: 26.875rem;
            .nosotros {
                width: 26.875rem;
                padding: .625rem;
                height: auto;
            }
            .video{
                video{
                    display: block;
                    width: 18.75rem;
                    margin: auto;
                }
            }
            .somos{
            text-align: center;
                h3{
                    padding: .3125rem;
                    font-size: 1.125rem;
                    color: #000000;
                }
                a{
                    margin: 0rem;
                    padding: .625rem;
                }
            }    
        }
    }
    .main-productos{
        width: 26.875rem;
        grid-template-columns: auto;
        grid-template-rows:repeat(4 , auto);
        section{
            margin: .9375rem;
            div{
                border-radius: .625rem;
                    h5{
                        padding: .5rem;
                        font-size: 1.25rem;
                    }
                    p{
                        display: none;
                    }
                    button{
                        margin: .625rem;
                    }           
                }
            }
        .texto-productos{
            display: none;
        }
    }
    .main-contactos{
        width: 26.875rem;
        grid-template-rows:auto 1fr;
        .datos-contactos{
            grid-row: 1;
            width: 23.125rem;
            height: 31.25rem;
            font: 1.0em sans-serif;
            .direccion{
                p{
                    font-size: 1rem;
                }
            }
        }
        .contactos-form{
            grid-row:2;
            width: 23.125rem;
            height: 39.375rem;
            padding-left: 0rem;
            font: 1.0em sans-serif;
            p{
                font-size: 1rem;
                input{
                    width: 18.75rem;
                    height: 3.125rem;
                }
            }
            button{
                width: 18.75rem;
            }
        } 
    }
    .main-presupuestos{
        width: 26.875rem;
        grid-template-columns:100%;
        grid-template-rows:repeat(2 , auto);
        .presupuestos-1{
            display: none;
        }
        .presupuestos-2{
            height: 18.75rem;
            grid-row: 1;
            font-size: 1.5625rem;
            a{
                font-size: 1.375rem;
                i{
                    font-size: 3rem;
                    padding-bottom: .625rem;
                }
            }
        }
        .presupuestos-3{
            height: 18.75rem;
            grid-column: 1;
            grid-row:2;
        }
        .redes-sociales{
            a{
                padding: 1.25rem;
            }
        }
    } 
    footer{
            grid-template-columns: 6.25rem 1fr;
        .redes{
            grid-column:1;
            position: absolute;
            left: 0rem;
        }
        .contactos {
            p{
                font-size: 1rem;
            }
        }
        .texto-pie {
            display: none;
        }
    }
}