@media(max-width:768px){
    header{
        height: 300px;
        section{
            .logo-principal{
                height: 300px;
                padding: 0px;
            }
        }
        nav{
            .navbar{
                padding: 15px;
                li{
                    a{
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .main-index{
        height: auto;
        width: 768px;
    }
    .main-paginas{
        width: 768px;
    }
    footer{
            grid-template-columns: 100px 1fr;
        .redes{
            grid-column:1;
            position: absolute;
            left: 0px;
            height: 400px;
        }
        .contactos {
            grid-column: 2;
            height: 400px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-bottom: 15px;
            p{
                font-size: 18px;
            }
        }
        .texto-pie {
            visibility: hidden;
            display: none;
        }
    }
}