@media(max-width:375px){
    header{
        grid-template-rows: 11.125rem 1fr;
        width: auto;
        section{
            .logo-principal{
                width: 18.125rem;
                height:11.25rem;
            }
        }
        nav{
            width: auto;
        }
    }
    .main-index{
        width:auto;
        .card-1 {
            width: 17.5rem;
            .texto-card1{
                p{
                    font-size: 1rem;
                }
            }
        }
    }
    main{
        .main-paginas{
            padding: .3125rem;
            width: auto;
            .nosotros {
                justify-content:center;
                border: .0625rem solid black;
                width: auto;
                height: auto;
                margin:.3125rem;
                h1{
                    font: 1.1em sans-serif;
                    padding: 1.25rem;
                    text-align: center;
                }
                p{
                    font-size: 1.125rem;
                }
            } 
            .somos{
                text-align: center;
                margin: .3125rem;
                h3{
                    padding: .3125rem;
                    margin: .9375rem;
                }
                a{
                    margin: .9375rem;
                    padding: .625rem;
                }
            }    
        }
    }
    .main-productos{
        width:375px;
        grid-template-columns: 1fr;
        grid-template-rows:repeat(4,auto);
        section{
            width: 18.75rem;  
        }
    }
    .main-contactos{
        width:auto;
        .datos-contactos{
            width: 20rem;
            height:31.25rem;
        }
        .contactos-form{
            width: 20rem;
            height: 39.375rem;

            p{
                input{
                    width: 18.75rem;
                    height: 3.125rem;
                }
            }
            button{width: 18.75rem;
            }
        } 
    }
    .main-presupuestos{
        width: auto;
        .presupuestos-2{
            height: 16.25rem;
            font-size: 1.5625rem;
            margin: .625rem;
            a{
                font-size: 1.125rem;
            }
        }
        .presupuestos-3{
            height: 16.25rem;
            margin: .625rem;
        }
        .redes-sociales{
            a{
                padding: .625rem;
            }
        }
    } 
}