@media(max-width:375px){
    header{
        grid-template-rows: 11.875rem 1fr;
        width: auto;
        section{
            .logo-principal{
                width: 19.375rem;
                height: 11.875rem;
            }
        }
        nav{
            width: auto;
        }
    }
    .main-index{
        width:auto;
        .card-1 {
            width: 18.75rem;
            .texto-card1{
                p{
                    font-size: 1rem;
                }
            }
        }
    }
    main{
        .main-paginas{
            width: auto;
            .nosotros {
                display: none;
            } 
            .somos{
                text-align: center;
                h3{
                    padding: .3125rem;
                    margin: .9375rem;
                }
                a{
                    margin: .9375rem;
                    padding: .625rem;
                }
            }    
        }
    }
    .main-productos{
        width:auto;
        grid-template-columns: 1fr;
        grid-template-rows:repeat(4,auto);
        section{
            width: 18.75rem;  
        }
    }
    .main-contactos{
        width:auto;
        .datos-contactos{
            width: 20rem;
            height:31.25rem;
        }
        .contactos-form{
            width: 20rem;
            height: 39.375rem;

            p{
                input{
                    width: 18.75rem;
                    height: 3.125rem;
                }
            }
            button{width: 18.75rem;
            }
        } 
    }
    .main-presupuestos{
        width: auto;
        .presupuestos-2{
            height: 16.25rem;
            font-size: 1.5625rem;
            margin: .625rem;
            a{
                font-size: 1rem;

            }
        }
        .presupuestos-3{
            height: 16.25rem;
            margin: .625rem;
        }
        .redes-sociales{
            a{
                padding: .625rem;
            }
        }
    } 
}