@media(max-width:375px){
    header{
        grid-template-rows: 200px 1fr;
        section{
            .logo-principal{
                width: 310px;
                height: 190px;
            }
        }
        nav{
            padding: 5px;
            .navbar{
            }
        }
    }
    .main-index{
        grid-template-columns:320px;
    }
    main{
        .main-paginas{
            .nosotros {
                display: none;
                } 
            .somos {
                    height:auto;
            }
        }
    }
    .main-productos{
        width:auto;
        grid-template-columns: 1fr;
        grid-template-rows:repeat(4,auto);
        section{
            width: 300px;  
        }
    }
    .main-contactos{
        width:auto;
        .datos-contactos{
            width: 320px;
            height:500px;
        }
        .contactos-form{
            width: 320px;
            height: 630px;

            p{
                input{
                    width: 300px;
                    height: 50px;
                }
            }
            button{width: 300px;}
        } 
    }
}