footer {
    display: grid;
    grid-template-columns: 18.75rem 1fr 1fr;
    div {
        border: .0625rem solid none;
        background-color: #a81822;
        height:auto;
        width: 4.5625rem;
        position: absolute;
        left: 10.875rem;
        padding: .625rem;
        display: flex;
        grid-column: 1;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        flex-wrap: nowrap;
        section{
            padding: .375rem;
            a{
                font-size: 3rem;
                color: black;
                padding: .9375rem;
            }
        }
        .whatsapp{
            a:hover{ 
                color: #63cb77;
            }
        }
    }

    .contactos {
        grid-column: 2 / 3;
        padding-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        p{
            font-size: 1.25rem;
        }
    }

    .texto-pie {
        grid-column: 3 / 4;
        padding-top: 5rem;
        width: 31.25rem;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: flex-end;
        text-align: center;
        p{
            font-size: 1.25rem;
        }
    }
}