.main-productos{
    background-image: url(../assets/img/imagen-4.jpg);
    height:auto;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(auto,1fr);
    section{
        border: 1px solid #00000052;
        width: 300px;
        text-align: center;
        justify-self: center;
        align-items: center;
        margin: 10px;
        img{
            padding:10px;
            height: 200px;
            transition: transform .2s;
                &:hover{
                transform: scale(1.2);
                }
            }
        div{
            border: 1px black none;
            border-radius:15px;
            background-color:#ede9d5;
                h5{
                padding: 10px;
                font-size:20px;
                }
                p{
                    font-family: 16px;
                }
                button{
                    border-radius: 7px;
                    margin: 15px;
                    padding: 10px;
                    a{
                        font-size:18px;
                        color: black;
                        text-decoration: none;
                        &:hover{
                            color: #a81822;
                            }    
                    }    
                }           
            }
        }
    .texto-productos{
        grid-column: 1/5;
        background-color: #ffffff6b;
        grid-row:2;
        margin: 15px;
        p{
            font-size: 20px;
            font-family:$arial;
            text-align: center;
            color: #000000;
            padding: 20px;
        }
    }
}