.main-index{
    background-image: url(../assets/img/3.jpg);
    height: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 150px 450px;
    background-size: cover;
    background-repeat: no-repeat;
    section{
        grid-row: 1;
        grid-column: 1/4;
        display: flex;
            p {
                font-size: 20px;
                font-family:$arial;
                text-align: center;
                color: #ffffff;
                padding: 20px;
            }
    }
    .titulo-card{
    grid-row: 2;
    grid-column: 1 / 4;
    border: 1 solid none;
    height: 100px;
    background-color: #ffffff6b;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    }
    .card-1 {
        border: 1px solid none;
        background-color: #0000002a;
        grid-column: 1;
        grid-row: 3;
        height: 400px;
        width: 300px;
        display: flex;
        justify-self: center;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
        
        .texto-card1{
            border: 1px solid none;
            background-color: #0000002a;
            border-radius: 10px;
            color: #ffffff;
            text-align: center;
            p{
                font-family:$arial;
            }
        }
    }
    .card-2 {
        @extend .card-1;
        grid-column: 2;
        grid-row: 3;
        .texto-card2{
            @extend .texto-card1;
        }
    }
    
    .card-3{
        @extend .card-1;
        grid-column: 3;
        grid-row: 3;
        .texto-card3{
            @extend .texto-card1;
        }

    }

}